/* Body */

body{
  text-align: center;
}

p{
  font-family: 'Ubuntu', sans-serif;
}

/* Title */

#title{
  background-color: #ff4c68;
  text-align: left;
}


/* Headings */

h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

h2{
  font-size: 3rem;
  color: #fff;
  line-height: 1.5;
}
/*
Navigation bar */

.nav-item{
  font-family: 'Montserrat-light';
  padding-left: 20px;
}


.navbar{
 padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  padding-left: 10px;
  font-weight: bold;

}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

.navbar-nav{
  padding-right: 100px;
}

.navbar-collapse{
  position: absolute;
  right: 0;
}


 #title .container-fluid{
  padding: 3% 15% 7%;

}

.iphone-img{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right:25%;
}

@media (max-width:1028px){

  .iphone-img{
    position: static;
    transform: rotate(0);
    width: 50%;
    padding-top: 30px;
  }

  #title{
    text-align: center;

  }

}

.download-button{
  margin: 20px 20px 0 0;
  font-family: 'Montserrat-light';
}

.google-download-btn{
  color: #ff4c68;
}

.font-icon{
  color: #ff7171;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.font-icon:hover{
  color:#ff4c68;
}


#features{
  padding: 7% 15%;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

P{
  font-family: 'Montserrat' sans-serif;
  color: #6e7c7c ;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

/* Testimonials */
#testimonials{
  background-color: #ff7171;
  text-align: center;
}


 .testimonial-img{
   border-radius: 100%;
   width: 200px;
   padding: 20px;
 }

 em{
   color:#fff;
 }

 #press{
   background-color: #ff7171;
   padding: 3% 10%;
   text-align: center;
 }

.press-img{
   padding:20px;
   width: 100%;
}
 .carousel-item{
   padding: 7% 15%;
 }

#pricing{
  text-align: center;
  padding: 3% 15%;
}
.testimonial-title{
  font-family: 'Montserrat';
  font-size: 2rem;
  color: black;
}

#cta{
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;


}

#cta h3{
  font-size: 3.5rem;
  color: #fff;
}

#footer{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}


.social-icon {
  margin: 20px 10px;
}
